body{
    font-family: Arial, Helvetica, sans-serif;
}
.header, .content, .sidebar, .footer{
    padding: 1%;
    margin: 1%;
}
.header{
    border: 1px solid red;
}
.content{
    border: 1px solid green;
    width: 45%;
    height: auto;
   
    float: left;
}
.sidebar{
    border: 1px solid  blue;
    float: right;
    width: 45%;
    height: auto;
}
.footer{
    border: 1px solid purple;
    clear: both;
}